<!DOCTYPE html>
{% extends 'myapp/base.html'%}
{% block body_block %}

<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-secondary text-center text-white">
                    <p class="h1">Student information</p>
                </div>
                <div class="card-body text-center">
                    <p class="h2">StudentID: {{ student.Student_ID }}</p>
                    <p class="h2">StudentName: {{ student.Student_Name }}</p>
                    <p class="h2">StudentMarks: {{ student.Student_Marks }}</p>

                    <a href="{% url 'list' %}" class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-eye-fill"></i> Back
                    </a>

                    <a href="{% url 'update' student.pk %}" class="btn btn-outline-success btn-sm">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>

                    <a href="{% url 'delete' student.pk %}" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash-fill"></i> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
