{% extends 'myapp/base.html' %}

{% block body_block %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow w-50">
        <div class="card-header bg-danger text-white text-center">
            <h3>Confirm Delete</h3>
        </div>

        <div class="card-body text-center">
            <h2>stdid:{{student.Student_ID}}</h2>
            <h2>stdname{{student.Student_Name}}</h2>
            <h2>stdmarks{{student.Student_Marks}}</h2>
            <p class="h5">
                Are you sure you want to delete this record?
            </p>

            <form method="POST">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger me-2">do you want to delete</button>

                <a href="{% url 'list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
